.form {
  display: flex;
  gap: 1rem;
}

.form figure {
  height: 200px;
  width: 200px;
  border-radius: 6px;
  overflow: hidden;
}

.form figure img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.info {
  padding: 2rem 0 0;
}

.info fieldset {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  gap: 1rem;
}

.info label {
  position: relative;
  font-weight: bold;
  font-size: 0.8rem;
  display: inline-block;
  height: 2rem;
  width: 3rem;
  border-radius: 3px;
  overflow: hidden;
}
.info label::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.info label span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.info label span.bg {
  font-size: 0;
  z-index: 0;
}

.info label input:checked ~ span {
  color: white;
}

.info label[for="small"] input:checked + .bg {
  background-color: #f7d794;
}

.info label[for="large"] input:checked + .bg {
  background-color: #786fa6;
}

.info label[for="ice"] input:checked + .bg {
  background-color: #546de5;
}

.info label[for="hot"] input:checked + .bg {
  background-color: #e15f41;
}

.count_field {
  gap: 1rem;
}

.count_button {
  border: 0;
  font-size: 1rem;
}

.count_input {
  border: 0;
  width: 3rem;
  text-align: center;
  transform: translate(0.5rem);
}

.form button[type="submit"] {
  width: 100%;
  background-color: #303952;
  color: white;
  font-weight: bold;
  border: 0;
  opacity: 0.1;
  cursor: no-drop;
}

.form:valid button[type="submit"] {
  opacity: 1;
  cursor: pointer;
}
