.card {
  align-self: flex-start;
  display: inline-flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  box-sizing: border-box;
  position: relative;
  border-radius: 8px;
  width: calc(50% - 0.5rem);
  box-shadow: 0px 5px 1rem lightgray;
}

.card img {
  width: 100%;
  border-radius: 5px;
}

.card dl {
  display: flex;
  justify-content: space-between;
}

.card dd {
  position: relative;
  margin-top: 1rem;
  font-weight: bold;
  word-break: keep-all;
}

.card input {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;
  height: 100%;
  font-size: 0;
  border: 0;
  border-radius: 3px;
  &:hover {
    box-shadow: 0px 5px 1rem darkgray;
  }
}