.tab_list {
  flex-shrink: 0;
  padding: 1rem;
}

.tab_list ul {
  background: white;
  border-radius: 10px;
  white-space: nowrap;
  text-align: left;
  overflow-x: scroll;
  overflow-y: hidden;
}

.tab_list ul::-webkit-scrollbar {
  display: none;
}

.tab_list li {
  height: 100%;
  display: inline-block;
}

.tab_list li button {
  height: 100%;
  padding: 0.8rem 3.6rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent;
  border: 0;
  border-radius: 10px;
  transition: color background 300ms;
  color: darkgray;
  cursor: pointer;
}
.tab_list li button[data-active="true"] {
  color: white;
  text-shadow: 1px 1px 1px #e15f41;
}

.tab_list li button[data-active="true"] {
  background-color: #f19066;
}
